@import 'A.css';

.form{
    width: 75vw;
    height: 33vh;
}
    .frmLabel{
        font-size: 3vh;
    }
    .text{
        font-size: 3vh;
        background-color: var(--Invisible);
        color: var(--corB);
        border: 2px solid var(--corB);
        padding: 1vh;
        text-align: center;
        width: 58vw;
        font-family: cursive;
        font-weight: bold;
        border-radius: 10px;
    }
        .text:hover:hover{
            cursor: text;
        }
    .icon{
        margin-top: -11vh;
    }
    .res{
        width: 83vw;
        margin-top: 4vh;
    }