@import 'E.css';
::-webkit-scrollbar{
  width: 2px;
  height: 10px;
}
.definic{
    position: absolute;
    width: 61vw;
    height: 53vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--corA);
    border-radius: 7px;
    z-index: 3;
}
    .definic .title{
        color: var(--corB);
        font-family: fantasy;
        font-size: 4vh;
        padding: 1vh;
    }
    .definic .iconsimbolic{
        color: var(--corB);
        z-index: 1;
        font-size: 8vh;
    }
    .definic .Input{
        font-size: 3vh;
        background-color: var(--Invisible);
        color: var(--corB);
        border: 2px solid var(--corB);
        padding: 1vh;
        text-align: center;
        width: 41vw;
        font-family: cursive;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 1vh;
    }
        .definic .Input:hover{
            cursor: text;
        }
    .definic .palagrafy{
        color: var(--corB);
        font-family: cursive;
        font-size: 2vh;
        padding: 1vh;
        font-weight: bold;
    }
.addBd{
    width: 61vw;
    height: 53vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--corA);
    border-radius: 7px;
    z-index: 2;
    position: absolute;
}
    .addBd .form{
        background-color: rgb(9 10 12 / 28%);
        width: 54vw;
        height: 24vh;
        display: flex;
        flex-flow: row;
        align-items: center;
        overflow-y: overlay;
        padding: 1vh;
        border-radius: 4px;
    }
        .Card{
            display: flex;
            width: 19vw;
            flex-direction: column;
            margin: 2vh;
            height: 18vh;
            background-color: var(--corA);
            border-radius: 5px;
            padding: 1vh;
            align-items: center;
        }
            .CardNmInput{
                font-size: 2vh;
                background-color: var(--Invisible);
                color: var(--corB);
                border: 1px solid var(--corB);
                padding: 0.5vh;
                text-align: center;
                width: 18vw;
                font-family: cursive;
                font-weight: bold;
                border-radius: 3px;
                margin-bottom: 1vh;
            }
                .CardNmInput:hover{
                    cursor: pointer;    
                }
            .btnCard{
                background-color: var(--corB);
                border: none;
                width: 14vw;
                height: 4vh;
                border-radius: 5px;
                font-size: 2vh;
                font-weight: bold;
                font-family: cursive;
            }
                .btnCard:hover{
                    cursor: pointer;    
                }
            .notas{
                display: none;
                width: 17vw;
                flex-direction: column;
                margin-top: 1vh;
                align-items: center;
                overflow-y: overlay;
            }
                .CardNtInput{
                    text-align: center;
                    width: 11vw;
                    font-size: 2vh;
                    background-color: var(--corC);
                    color: var(--corA);
                    padding: 0.5vh;
                    font-family: cursive;
                    font-weight: bold;
                    border-radius: 4px;
                    margin-bottom: 1vh;
                    border: none;
                }
.resultTab{
    width: 61vw;
    height: 53vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--corA);
    border-radius: 7px;
    z-index: 1;
    position: absolute;
}
    .scrollTable{
        display: flex;
    }
        .table{
            display: flex;
        }
            .tbTr{
                display: flex;
            }
                .tbTh{
                    display: flex;
                }
                .tbTd{
                    display: flex;
                }
